.navbar {
  background-color: lightgray;
  filter: drop-shadow(2px 2px 6px rgb(0, 0, 0, 0.1));
  color: #f8f9fc;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  z-index: 998;
  height: 70px;
}
.logo a {
  display: flex;
  align-items: center;
  color: #f8f9fc;
  font-size: 40px;
  text-decoration: none;
}

.logo i {
  color: #f8f9fc;
  font-size: 45px;
  margin-right: 25px;
}

 
